@font-face {
  font-family: 'Typold';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Typold/Typold Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Typold';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Typold/Typold Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Typold Extended';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Typold/Typold Extended Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Roboto Mono/Roboto Mono Regular.woff2') format('woff2');
}
